{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Food To you !{% endblock %}

{% block css %}{% endblock %}

{% block body %}

	<div class="welcome">
		<p class="title" >Bienvenue chez Food To You</p>
		<p>des plats faits maison dans vos maisons</p>
	</div>

{% endblock body %}

{% block js %}
<script src="js/lisa.js"></script>
{% endblock js  %}



