{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Food To you !
{% endblock %}

{% block navbar %}
    {% include "includes/navbarConnexion.html.twig" %}
{% endblock %}

{% block body %}
	<div id="bgImg">
	
	
	</div>
{% endblock %}
