{% extends 'base.html.twig' %}

{% block title %}Votre panier - Food to you{% endblock %}

{% block navbar %}
    {% include "includes/navbarComplete.html.twig" %}
{% endblock %}

{% block body %}
<h1>Votre commande</h1>
{% endblock %}
