/* CSS Page de vue du produit */
.display
{
    display: flex;
    justify-content: space-around
}
.description
{
    text-align: center;
}
figure
{
    text-align: center;
}
.price
{
    font-weight: bold;
    font-size: 25px;
}
.localisation
{
    /* border: 1px solid #78c2ad; */
    text-align: center;
}
.button
{
    /* margin: 35px; */
    display: flex;
    justify-content: center;
}
.button>div
{
    margin: 35px;
}


/* CSS Page de modification du produit */

.formProduct
{
    width: 80%;
    margin: 0 auto;
}
.time
{
    display: flex;
    justify-content: center;
}

h6
{
    text-align: center;
}
.choice
{
    display: flex;
    justify-content: center;

}

