{% extends 'base.html.twig' %}

{% block title %}Publiez votre plat - Food To You{% endblock %}
{% block css %}<link rel="stylesheet" href="css/manel.css">{% endblock %}

{% block navbar %}
    {% include "includes/navbarComplete.html.twig" %}
{% endblock %}

{% block body %}

    <h1>Publiez votre plat</h1>

    {{ include('product/_form.html.twig') }}
 
{% endblock %} 