<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue - Food To You
			{% endblock %}
		</title>

		<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">

		{% block css %}
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>

	<body>
		{% block navbar %}
			{% include "includes/navbarConnexion.html.twig" %}
		{% endblock %}

		{% block body %}
		
		{% endblock %}


			{% block js %}{% endblock %}
		</body>

	</html>
